:root {
   --coloraccent: rgb(228, 129, 0);
   --colorlight: rgb(236, 236, 236);
   --colormid: rgb(70, 70, 70);
   --colordark: rgb(32, 32, 32);
   --sectiongap: 30px;
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: var(--colorlight);
}
body {
   background-color: var(--colormid);
}
/* --- HEADER --- contains name and navigation */
header {
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: stretch;
}
header h1 {
   background-color: var(--coloraccent);
   font-size: 60px;
   padding: 10px;
   flex-grow: 1;
   color: var(--colordark);
}
/* navigation, contains links to sections */
nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: stretch;
   flex-grow: 2;
}
/* navigation links appear as large "buttons" */
nav span {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
   background-color: var(--colordark);
}
/* light up on mouseover */
nav span:hover {
   color: var(--colormid);
   background-color: var(--coloraccent);
   cursor: pointer;
}
/* highlight currently selected nav */
.current-nav {
   color: var(--coloraccent);
   font-weight: bold;
}
/* style the links */
a {
   font-weight: bolder;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
   color: var(--coloraccent);
}
/* spacing around links */
.links-wrapper {
   margin: 10px;
   line-height: 35px;
}
/* --- SECTION --- */
main {
   padding-top: 30px;
}
section {
   padding: 0 15%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   gap: var(--sectiongap);
}
/* section headers */
h2 {
   background-color: var(--coloraccent);
   color: var(--colordark);
   width: 100%;
   font-size: 40px;
   padding: 10px;
}
h3 {
   background-color: var(--coloraccent);
   color: var(--colordark);
   font-size: 26px;
   padding-bottom: 8px;
}
/* --- ABOUT --- */
.about-img {
   flex: 0 1 250px;
   margin: 50px;
}
.about-img img {
   border-radius: 50%;
   max-width: 100%;
}
.about-text {
   flex: 1;
}
/* --- PROJECT --- */
.project {
   flex: 1 0 300px;
   border: 8px solid var(--coloraccent);
}
/* must set display:block to remove the whitespace under the image */
.project img {
   width: 100%;
   display: block;
}
/* --- CONTACT --- */
form {
   width: 80%;
}
input,
textarea {
   background-color: var(--colorlight);
   color: var(--colordark);
   padding: 8px;
   border: none;
   width: 100%;
}
.contact {
   display: block;
}
.contact h3,
.contact h4 {
   padding: 8px;
}
.contact p {
   padding: 6px 18px;
}
.contact ul {
   margin: 18px 36px;
}
.contact-section {
   margin-bottom: 20px;
}
button {
   color: var(--colordark);
   background-color: var(--coloraccent);
   font-size: 20px;
   font-weight: bold;
   padding: 8px;
   border: none;
}
.error-text {
   color: var(--coloraccent);
   font-weight: bold;
   margin-bottom: 10px;
}
/* --- RESUME --- */
.resume {
   display: block;
}
.resume h3,
.resume h4 {
   padding: 8px;
}
.resume p {
   padding: 6px 18px;
}
/* --- FOOTER --- */
.filler-space {
   flex-grow: 1;
}
/* unlike the header, the text is "aligned" to the right. @media smaller screen size will center it */
footer {
   background-color: var(--colordark);
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
footer h1 {
   font-size: 46px;
}
/* highlight the name, just like the header, but using different method and HTML */
.signature {
   color: var(--colordark);
   background-color: var(--coloraccent);
   padding: 0 20px;
}

/* ------ MEDIA QUERIES ------ */
@media screen and (max-width: 1000px) {
   /* reduce side padding */
   section {
      padding: 0 7%;
   }
   /* center the elements */
   footer {
      align-items: center;
      text-align: center;
      line-height: 1.5;
   }
   /* remove flex, fill entire width */
   .signature {
      display: block;
   }
}
@media screen and (max-width: 700px) {
   header h1,
   footer h1 {
      font-size: 40px;
   }
   h2 {
      font-size: 32px;
   }
   /* reduce padding */
   .about-img {
      margin: 20px 0 0;
   }
   .about-text {
      padding: 0 0 var(--sectiongap) 0;
   }
}
@media screen and (max-width: 350px) {
   /* remove side padding (top and bottom padding should already be 0 */
   section {
      padding: 0;
   }
}
