:root {
   --coloraccent: rgb(228, 129, 0);
   --colorlight: rgb(236, 236, 236);
   --colormid: rgb(70, 70, 70);
   --colordark: rgb(32, 32, 32);
   --sectiongap: 30px;
}
* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: var(--colorlight);
   background-color: var(--colordark);
}
/* --- HEADER --- contains name and navigation */
header {
   text-align: center;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   align-items: stretch;
   background-color: var(--colormid);
}
header h1 {
   background-color: var(--coloraccent);
   font-size: 60px;
   padding: 10px;
   flex-grow: 1;
   color: var(--colordark);
}
/* navigation, contains links to sections */
nav {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: stretch;
   flex-grow: 2;
   gap: 15px;
}
/* navigation links appear as large "buttons" */
nav span {
   display: flex;
   justify-content: center;
   align-items: center;
   flex: 1;
}
/* light up on mouseover */
nav span:hover {
   color: var(--colormid);
   background-color: var(--coloraccent);
}
/* highlight currently selected nav */
.current-nav {
   color: var(--coloraccent);
   font-weight: bold;
}
/* style the links */
a {
   font-weight: bolder;
   text-decoration: none;
}
/* --- SECTION --- */
main {
   padding-top: 30px;
}
section {
   padding: 0 15%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-around;
   gap: var(--sectiongap);
}
/* section headers */
h2 {
   background-color: var(--coloraccent);
   color: var(--colordark);
   width: 100%;
   font-size: 40px;
   padding: 10px;
}
h3 {
   background-color: var(--coloraccent);
   color: var(--colordark);
   font-size: 26px;
   padding-bottom: 8px;
}
/* --- ABOUT --- */
.about-img {
   flex: 0 1 250px;
   margin: 50px;
}
.about-img img {
   border-radius: 50%;
   max-width: 100%;
}
.about-text {
   flex: 1;
}
/* --- PROJECT --- */
.project {
   flex: 1 0 300px;
   border: 8px solid var(--coloraccent);
}
/* must set display:block to remove the whitespace under the image */
.project img {
   width: 100%;
   display: block;
}
/* spacing around project links */
.project-links {
   margin: 10px;
   line-height: 35px;
}
/* --- CONTACT --- */
form {
   width: 80%;
}
input,
textarea {
   background-color: var(--colorlight);
   color: var(--colordark);
   padding: 8px;
   border: none;
   width: 100%;
}
.contact-section {
   margin-bottom: 20px;
}
button {
   color: var(--colordark);
   background-color: var(--coloraccent);
   font-size: 20px;
   font-weight: bold;
   padding: 8px;
   border: none;
}
.error-text {
   color: var(--coloraccent);
   font-weight: bold;
   margin-bottom: 10px;
}

.project-img {
   width: 250px;
}
